:root {
  --plum: #2b2d42;
  --grey: #8d99ae;
  --white: #edf2f4;
  --red: #ef233c;
  --dark-red: #d90429;
  --black: #333533;
}

* {
  margin: 0;
}

body {
  text-align: center;
  background-color: var(--white);
  color: var(--black);
}

.list-container {
  height: 100vh;
  height: 100svh;

}

.list-view {
  border: 1px var(--black) solid;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}