---
import ListDisplay from "../components/ListDisplay.jsx"
import Header from "../components/Header.jsx";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="src/styles/globals.css" />
		<style>
  		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
		</style>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LIST</title>
	</head>
	<body>
		<Header />
		
		<ListDisplay client:load />
	</body>
</html>
